<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Trevor.  It uses data from mapbox.com and weatherstack.com</p>
            <img class="mafia" src="/img/ItalianMafia.jpg">
        </div>

        {{>footer}}
    </body>
</html>